.transition_property_1{
    -webkit-transition:ease all 1s 0.5s;
    -moz-transition:ease all 1s 0.5s;
    position:absolute;
    left:10px;
    top:50px;
}
.transition_property_2{
    -webkit-transition:0.5s ease 2s;
    -moz-transition:0.5s ease 2s;
    -webkit-transition-property:none;
    -moz-transition-property:none;
    position:absolute;
    left:250px;
    top:50px;
}
.transition_property_3{
    -webkit-transition:0.5s ease;
    -moz-transition:0.5s ease;
    -webkit-transition-property:width;
    -moz-transition-property:width;
    position:absolute;
    left:480px;
    top:50px;
}

.transition_property_1:hover,
.transition_property_2:hover,
.transition_property_3:hover{
    width:500px;
    height:300px;
}
 .demo_box{
    border:1px solid #3DA5DC;
    background:#a4dcf9;
    height:100px;
    width:200px; 
    text-align:center;
    color:#fff; 
    }